<%= form_for(@raw_input) do |f| %>
  <% if @raw_input.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@raw_input.errors.count, "error") %> prohibited this raw_input from being saved:</h2>

      <ul>
      <% @raw_input.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :input %><br />
    <%= f.text_field :input %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
