<!DOCTYPE html>
<html>
<head>
  <title>Ding</title>
  <%= stylesheet_link_tag :all %>

  <%= javascript_include_tag "jquery-1.4.4.min", "rails", "application"%>
  <%= csrf_meta_tag %>

</head>

<div id="header">
  <%= link_to image_tag ("banner.png", :height => 150, :width => 800), :controller => "items", :action => "index" %>
</div>

<div>
<%= yield %>
</div>

<div id="footer_spacing"></div>


</body>


</html>
